{% extends "layout.html" %}

{% block content %}
<h1 class="text-center">Productos</h1>
<div class="my-4"></div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 card text-center">
        <a href="./proteinas" class="carta">
            <div class="card border-dark">
                <div class="card-header">
                    <h5>Proteinas</h5>
                </div>
                <div class="card-body">
                    <img src="./../static/img/proteinas.jpg" class="card-img-top imagen-productos" alt="...">
                    <p class="card-text">Productos que te ayudaran a mejorar tu calidad muscular</p>
                </div>
            </div>
        </a>

    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 card text-center">
            <a href="./quemadores" class="carta">
                <div class="card border-dark">
                    <div class="card-header">
                            <h5>Quemadores</h5>
                    </div>
                    <div class="card-body">
                        <img src="./../static/img/quemadores.jpg" class="card-img-top imagen-productos" alt="...">
                        <p class="card-text">Productos que te ayudaran a quemar tus porcentajes de grasa corporal</p>
                    </div>
                </div>
            </a>

    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 card text-center">
            <a href="./preentrenos" class="carta">
                <div class="card border-dark">
                    <div class="card-header">
                            <h5>PreEntrenos</h5>
                    </div>
                    <div class="card-body">
                        <img src="./../static/img/preentrenos.jpg" class="card-img-top imagen-productos" alt="...">
                        <p class="card-text">Productos que te ayudaran a mejorar tu resistencia y energia en el entrenamiento
                            </p>
                    </div>
                </div>
            </a>

    </div>
</div>
{% endblock %}