{% extends "layout.html"%}

{% block content %}
<form method="POST" action="/update_product/{{productos.0}}">
  <div class="form-group">

    <label for="exampleFormControlInput1">Nombre</label>
    <input type="text" name="nombre" class="form-control" id="Nombre" placeholder="Nombre del producto"
      value="{{productos.1}}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Tipo</label>
    <input type="text" name="tipo" class="form-control" id="Valor" placeholder="Tipo del producto"
      value="{{productos.2}}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Valor</label>
    <input type="number" name="valor" class="form-control" id="Categoria" placeholder="Valor del productos"
      value="{{productos.3}}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descripcion</label>
    <textarea class="form-control" name="descripcion" id="descripcion" rows="3">{{productos.4}}</textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Imagen</label>
    <input type="text" name="img" class="form-control" id="Img" placeholder="Imagen del productos"
      value="{{productos.5}}">
  </div>

  <button type="submit" class="btn btn-primary mb-2">Actualizar</button>
</form>

{% endblock %}