img.imagen-nav{
    width: 45px;
}
a.carta{
    text-decoration: black;
}
img.imagen{
    width: 200px !important;
    height: 200px !important;
}
.imagen-productos{
    width: 300px !important;
    height: 200px !important;
}

.card{
    border: none !important;
}